
button {
    font-family: 'Bebas Neue', sans-serif;
    padding: 0.521vw 1.042vw;
    border: 0.105vw solid #f0d210; 
    border-radius: 0.52vw;
    background-color: transparent; 
    color: #f0d210; 
    font-size: 0.833vw;
    margin: 0.26vw;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #f0d210;
    color: rgb(43, 43, 43); 
}


.menu label, .menu input {
    color: white; 
    font-size: 0.833vw; 
}

.menu-container {
    text-align: center;
    margin-top: 2.604vw; 
}


.entertext1 {
background-color: rgba(34, 34, 34); 
border: 0.104vw solid #f0d210; 
border-radius: 0.521vw; 
padding: 0.417vw;
color: white; 
outline: none; 
}

.entertext2 {
background-color: rgba(34, 34, 34); 
border: 0.104vw solid #f0d210; 
border-radius: 0.521vw; 
padding: 0.417vw; 
color: white;
outline: none; 
}

.section.panic-key {
display: flex;
flex-direction: column;
align-items: center;
}



