.embed-container {
    width: 100%;
    max-width: 58.688vw;
    border-radius: 0.5vw;
    overflow: hidden;
    box-shadow: 0 0.208vw 0.417vw rgba(0, 0, 0, 0.1);
    border: 0.104vw solid #f0d210;
    margin-top: 4vw;
    margin-left: 7.292vw;
}
.embed-container iframe {
    width: 100%;
    height: 33.25vw;
    border: none;
    display: block;
    border-top-left-radius: 0.781vw;
    border-top-right-radius: 0.781vw;
}
.bottom-div {
    display: flex;
    align-items: center;
    background-color: rgba(30, 30, 30);
    padding: 0.521vw;
    border-bottom-left-radius: 0.781vw;
    border-bottom-right-radius: 0.781vw;
    height: 2.5vw;
}
.bottom-div img {
    height: 2.383vw;
    margin-right: 0.521vw;
    border-radius: 0.256vw;
}
.bottom-div .text-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.bottom-div .website-name {
    color: #fff;
    font-size: 1.167vw;
}
.bottom-div .developer-name {
    font-size: 0.75vw;
    color: #ccc;
}
.bottom-div .buttons-container {
    display: flex;
    align-items: center;
    gap: 0.521vw;
}
#refresh-btn {
height: 2.083vw;
width: auto;
cursor: pointer;
transition: transform 0.2s ease;
}

#refresh-btn:hover {
transform: scale(1.1) rotate(360deg);
transition: transform 0.7s ease; /* Add transition for smooth rotation */
}

#fullscreen-btn {
height: 2.344vw;
width: auto;
cursor: pointer;
transition: transform 0.2s ease;
}

#fullscreen-btn:hover {
transform: scale(1.1) rotate(15deg);
}

.ad {
width: 21vw; /* Adjust width as needed */
height: 21vw; /* Adjust height as needed */
background-color: #202020;
border-radius: 0.5vw;
position: relative;
box-shadow: 0 0.313vw 0.625vw 0 rgba(30, 30, 30);
outline: 0.1vw solid #f0d210;
display: flex;
justify-content: center; /* Center horizontally */
align-items: center; /* Center vertically */
margin-left: 72.917vw;
margin-top: -33.854vw;
}

.adTXT {
font: 400 0.5vw / 1 Arial, sans-serif;
text-transform: uppercase;
text-align: center;
opacity: 0.7;
letter-spacing: 0.05vw;
color: white;
position: absolute;
top: 0.5vw; /* Adjust positioning as needed */
right: 0.5vw; /* Adjust positioning as needed */
}

.script-container {
text-align: center; /* Center script content horizontally */
margin-top: 10%; /* Adjust vertical position of script */
}

.desc {
width: 62.5vw; /* Adjust width as needed */
background-color: #202020;
border-radius: 0.5vw;
box-shadow: 0 0.313vw 0.625vw 0 rgba(30, 30, 30, 0.5);
outline: 0.1vw solid #f0d210;
padding: 1.042vw; /* Padding inside the container */
margin-left: 15.625vw;
margin-top: 4vw;
}

.desc-title {
font-weight: bold;
font-size: 2.5vw; /* Adjust font size as needed */
margin-top: 0;
margin-bottom: 0.521vw; /* Spacing between title and paragraph */
color: white;
}

.desc p {
text-align: left; /* Align text to the left */
margin: 0; /* Remove default margin */
font-size: 1.417vw;
color: white;
margin-top: -1.042vw;
margin-bottom: 0.521vw;
}


#search-container {
    text-align: center;
    margin-top: 6.25vw;
    position: relative; 
    z-index: 1; 
}
#search-input {
    padding: 1.042vw;
    width: 26.042vw;
    border-radius: 1.042vw;
    border: 0.052vw solid #f0d210;
    font-size: 0.833vw;
    background-image: url('../images/searchwhite.png');
    background-size: 1.302vw 1.302vw;
    background-repeat: no-repeat;
    background-position: 0.781vw center;
    color: white; 
    text-indent: 1.042vw; 
    transition: transform 0.35s ease-in-out, box-shadow 0.3s ease-in-out;
    background-color: rgb(30, 30, 30);
    font-family: 'Bebas Neue', sans-serif;
    padding-left: 1.563vw;
    font-size: 1.563vw;
    position: relative;
    z-index: 2; 
}
#search-input::placeholder {
    color: white;
}
#search-input:focus {
    transform: scale(1.05);
    border: 0.052vw solid #f0d210;
    outline: none; 
    box-shadow: 0 0 1.042vw 0 #f0d210;
}
#search-results {
    margin-top: 1.042vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.game {
    margin: 0.521vw;
    cursor: pointer;
    position: relative;
}
.game img {
    width: 10.417vw;
    height: 10.417vw;
    object-fit: cover;
    object-position: center;
    border-radius: 1.042vw;
    transition: all 0.35s ease; 
}
.game:hover img {
    transform: scale(1.05);
    box-shadow: 0 0 0 0.104vw #f0d210; 
    filter: brightness(0.7); 
}
.game .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.25vw; 
    opacity: 0;
    transition: opacity 0.35s ease; 
}
.game:hover .overlay {
    opacity: 1;
}

.footer {

margin-top: 30vw; 
}


.loading-message {
font-size: 0.833vw;
color: #ffffff; 
font-weight: bold; 
}

@keyframes waveColor {
0% {
background-position: 200% 0;
}
100% {
background-position: -200% 0;
}
}

.highlight {
background: linear-gradient(90deg, #f0d210, #fc5849, #f0d210);
background-size: 200%;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: waveColor 10s infinite;
margin-bottom: -1.042vw;
}

.ad {
    width: 20vw; /* Adjust width as needed */
    height: 20vw; /* Adjust height as needed */
    background-color: #202020;
    border-radius: 0.5vw;
    position: relative;
    box-shadow: 0 0.313vw 0.625vw 0 rgba(30, 30, 30);
    outline: 0.1vw solid #f0d210;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-left: 72.917vw;
    margin-top: -36.55vw;
    }
    
    
    
    
    .ad1 {
    width: 40vw; /* Adjust width as needed */
    height: 5vw; /* Adjust height as needed */
    background-color: #202020;
    border-radius: 0.5vw;
    position: relative;
    box-shadow: 0 0.313vw 0.625vw 0 rgba(30, 30, 30);
    outline: 0.1vw solid #f0d210;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 17vw;
    margin-left: 15vw;
    }
    
    .adTXT1 {
        font: 400 0.5vw / 1 Arial, sans-serif;
        text-transform: uppercase;
        text-align: center;
        opacity: 0.7;
        letter-spacing: 0.05vw;
        color: white;
        position: absolute;
        top: 2.3vw; /* Adjust as needed to position vertically */
        right: -3vw; /* Move it outside the right edge */
        transform: rotate(90deg); /* Rotate text 90 degrees */
        transform-origin: center; /* Keep the text centered while rotating */
    }
    
    
    .script-container1 {
    text-align: center; /* Center script content horizontally */
    }
    
    
    /* Image gallery styles */
    .image-gallery {
        display: flex;
        position: absolute; /* Keep the gallery positioned to the right */
        top: 0;
        right: 0;
        margin-right: 6.25vw; /* Space between images and embed */
        align-items: flex-start; /* Aligns the small images to the top of the big image */
        margin-top: 26vw;
    }
    
    .big-image {
        width: 14vw; /* Adjust size */
        height: 14vw;
        border-radius: 0.5vw;
        object-fit: cover;
        margin-right: 1vw; /* Add space between big image and small images */
        transition: all 0.35s ease; 
    }
    
    .small-images {
        display: flex;
        flex-direction: column;
        gap: 1vw; /* Space between small images */
    }
    
    .small-image {
        width: 6.3vw;
        height: 6.3vw;
        border-radius: 0.5vw;
        object-fit: cover;
        transition: all 0.35s ease; 
    }
    
    /* Hover effect */
    .big-image:hover {
        transform: scale(1.03); /* Grow big image by 2% */
        filter: brightness(0.7);
    }
    
    .small-image:hover {
        transform: scale(1.06); /* Grow small image by 2% */
        filter: brightness(0.7);
    }
    
    